#particles-js {
    position: absolute;
    width: 100%;
    height: var(--header-height);
    background-color: transparent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }