#projects-page {
    transition: transform 0.5s, opacity 0.5s;
    transform: translate3d(0, 0, 0);
}
  
#projects-page.transition-appear {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
}

#projects-page.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

#projects-page.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    visibility: hidden;
}

#projects-page.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
}