# vscode
.vscode/

# python
venv
__pycache__

# credentials
*.pem

# deployment
deploy.sh

# damn Mac OS
.DS_Store
*.icloud

# node
node_modules

# ignore compressed JS/CSS assets
*.min.js
*.min.css
dev-static/

# ignore uncompressed image assets
img-uncompressed/