#download-kyler-resume {
    visibility: hidden;
}

/* Primary pointing system cannot hover. */
@media (hover:none), (hover:on-demand) { 
    #kyler-resume {
        display: none !important;
        max-height: 0 !important;
        line-height: 0 !important;
    }

    #download-kyler-resume {
        visibility: visible;
    }
}