{% extends "site_content/base.html" %}
{% load static %}
{% load pipeline %}

<!-- minified CSS -->
{% block css %}
{% stylesheet 'aboutme' %}
{% endblock css %}

<!-- minified Javascript -->
{% block js %}
{% javascript 'aboutme' %}
{% endblock js %}

{% block content %}
<!-- Basic content -- i.e. short intro to me -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>
                About Me
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 text-center">
            <h4 class="rotating-text">
                I'm <br /> passionate about <br />
                <span class="txt-rotate" data-period="1000" data-rotate='[ "family.", "friends.", "community." ]'
                    style="color: orange">
                </span>
            </h4>
        </div>
        <div class="col-lg-4 text-center">
            <img class="about-me" src="{% static "img/about-me-main.jpg" %}" style="border-radius: 50%" />
        </div>
        <div class="col-lg-4 text-center">
            <h4 class="rotating-text">
                My <br /> hobbies include <br />
                <span class="txt-rotate" data-period="1000"
                    data-rotate='[ "coding.", "running.", "hiking.", "coffee.", "reading.", "traveling." ]'
                    style="color: orange">
                </span>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br />
            <p>
                Kyler Little is currently a software engineer at Tableau Software on the Prep Team after recently
                graduating top of his class with a B.S. in Computer Science from Washington State University. While at
                WSU, Kyler ran cross country & track as a college athlete, performed undergraduate research in the
                Nonlinear Optics Research Group, directed several hackathons — including the first-ever collegiate
                hackathon held in the Seattle Space Needle, tutored computer science & mathematics, and studied
                sustainable development for a summer at La Católica in Peru.
            </p>

            <p>
                Kyler has always been motivated by a gnawing drive to understand & experience the world and its
                unfathomably complex set of people, cultures, and ideas. He's always loved bridging the gaps between
                people and complex technical subjects. At Tableau, he is accomplishing just that by helping people see
                and understand their data. His desire has also extended to bridging gaps between people. Recently, Kyler
                helped to launch D1on1 Stories, a platform designed to empower college athletes to share their stories.
                Kyler hopes to unify college athletes by sharing their stories with each other.
            </p>
            <p>
                Contact me here or at https://calendly.com/kylerlittle to connect!
            </p>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h4 id="img-hover-instructions">
                Hover over each image to learn more &#128522;
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
            <div class="row"></div>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="img-container">
                        <img class="about-me" src="{% static "img/about-me-1.jpg" %}" />
                        <div class="img-caption">
                            A photo from the Tableau Intern Summit, July 2019
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="img-container">
                        <img class="about-me" src="{% static "img/about-me-2.jpg" %}" />
                        <div class="img-caption">
                            Closing the keynote at Hack WA, January 2019
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="img-container">
                        <img class="about-me" src="{% static "img/about-me-3.JPG" %}" />
                        <div class="img-caption">
                            Hackers and organizers taking a fun break at Hack WA, January 2019
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="row"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
            <div class="row"></div>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="img-container">
                        <img class="about-me" src="{% static "img/about-me-4.JPG" %}" />
                        <div class="img-caption">
                            My college teammates at an awards banquet, April 2019
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="img-container">
                        <img class="about-me" src="{% static "img/about-me-5.jpg" %}" />
                        <div class="img-caption">
                            At the top of Aasgard Pass in the Alpine Lakes Wilderness, July 2019
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="img-container">
                        <img class="about-me" src="{% static "img/about-me-6.JPG" %}" />
                        <div class="img-caption">
                            A selfie with Machu Picchu, July 2017
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="row"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
            <div class="row"></div>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="img-container">
                        <img class="about-me" src="{% static "img/about-me-7.JPG" %}" />
                        <div class="img-caption">
                            Qualified for NCAA West Preliminary Rounds in the 3km Steeplechase, May 2019
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="img-container">
                        <img class="about-me" src="{% static "img/about-me-8.JPG" %}" />
                        <div class="img-caption">
                            My CrimsonCode Organizing Team and I, March 2018
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="img-container">
                        <img class="about-me" src="{% static "img/about-me-9.JPG" %}" />
                        <div class="img-caption">
                            Listening intently to Tableau CEO Adam Selipsky, July 2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="row"></div>
        </div>
    </div>
</div>
{% endblock content %}