{% extends "site_content/base.html" %}
{% load static %}

{% block content %}
<!-- Basic content -- i.e. short intro to me -->
<div class="container">
    <div class="row">

        <div class="col-lg-4">
            <img class="about-me" src="{% static "img/about-me-1.jpg" %}" />
        </div>
        <div class="col-lg-4">
            <img class="about-me" src="{% static "img/kyler-professional.JPG" %}" />
        </div>
        <div class="col-lg-4">
            <img class="about-me" src="{% static "img/about-me-2.jpg" %}" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br/>
            <p>
                I’m skilled at algorithmic design, writing clean, communicative code, and development in
                complex technology stacks. In my two summers at Tableau, I created automatically-refreshing
                dashboards to monitor product health that are currently used by senior management, and I
                am presently improving Tableau Server’s workbook backup/restore performance and viz loading
                by optimizing storage methods. My work is high quality, and I strive to have an immediate
                impact wherever I go.
            </p>

            <p> Proficient with
                <ul>
                    <li>Python, C/C++, C#, Java</li>
                    <li>Git, Linux/Unix, Batch/Shell Scripting</li>
                </ul>
            </p>
            <p> Favorite Subjects
                <ul>
                    <li>Algorithms, Systems Programming, Networks/Security, Machine Learning, Graph Theory, Databases
                    </li>
                </ul>
            </p>
            <p> Worked with
                <ul>
                    <li>PostgreSQL, Docker, .NET, Gradle, React.js, Node.js, gRPC, Mockito, spaCy, etc.</li>
                </ul>
            </p>
            I’m seeking an entry-level software engineering role starting January 2020. Contact me here or at
            kyler.j.little@gmail.com.
            <br/>
            <br/>
        </div>
    </div>
</div>
{% endblock content %}