{% extends "site_content/base.html" %}
{% load static %}

{% block content %}
<!-- Basic content -- i.e. short intro to me -->
<div class="container">
        <div class="row">
          <div class="col-lg-5">
            <img id="pic-of-me" src="{% static "img/kyler-professional.JPG" %}" />
          </div>
          <div class="col-lg-7">
            <p>
              In physics, energy is defined as the capacity to do work. By that definition,
              I’m a highly energetic person. Combined with my love of learning and self-improvement,
              I’ve explored many diverse activities in recent years.
            </p>
            <p>
              To name a few, I...
              <ul>
                <li> a novel method for 3-D surface reconstruction and presented my research at Washington State
                  University’s Undergraduate Showcase, </li>
                <li> in HackMIT after being among the first 50 teams to solve the admissions puzzles, </li>
                <li> abroad at Peru’s top university and earned a 4.0 in all Spanish classes, and </li>
                <li> with five students, including a Chinese student at Southeast University in Nanjing, to coauthor a
                  research paper on how China should meet the goals of the Paris Agreement.</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p> Through this exploration, I’ve discovered two fundamental driving forces in my life:
              <ol>
                <li> I love solving difficult problems and challenging myself, and </li>
                <li> I love helping others do the same. </li>
              </ol>
              Currently, one of society’s most difficult problems is deriving meaning from the astronomical amount of data
              available. This past summer, I interned at Tableau Software, a company at the forefront of solving this
              problem via data visualization. Moving forward, I seek to continue to work towards solving this problem
              through machine learning and/or data analytics.
            </p>
      
            <p> Technical Skills:
              <ul>
                <li>Python, SQL, C/C++, Java, C#, .NET, Tableau </li>
              </ul>
            </p>
            <p>
              Relevant Coursework:
              <ul>
                <li> Graph Theory, Algorithms, Data Structures, Machine Learning, Analysis, Applied Mathematics, Probability
                  & Statistics </li>
              </ul>
            </p>
      
            Contact me here or at kyler.j.little@gmail.com.
          </div>
        </div>
      </div>
{% endblock content %}