{% extends "site_content/base.html" %}
{% load pipeline %}

<!-- minified CSS -->
{% block css %}
{% stylesheet 'particles' %}
{% endblock css %}

<!-- minified Javascript -->
{% block js %}
{% javascript 'particles' %}
{% endblock js %}

{% block particles_lead_tag %}
<div class="header">
<div id="particles-js">
{% endblock particles_lead_tag %}


{% block greeting %}
<div class="typewriter">
  <h1>Hello, my name is Kyler.</h1>
</div>
{% endblock greeting %}

{% block particles_end_tag %}
</div>
</div>
{% endblock particles_end_tag %}