{% extends "site_content/base.html" %}
{% load static %}
{% load pipeline %}

<!-- minified CSS -->
{% block css %}
{% stylesheet 'projects' %}
{% endblock css %}

<!-- minified Javascript -->
{% block js %}
{% javascript 'projects' %}
{% endblock js %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>
                Projects
            </h1>
        </div>
    </div>
    {% for project in projects %}
    <!-- if first, start row tag -->
    {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-xs-12 col-sm-6 col-lg-3 d-flex align-items-stretch">
            <div class="card-group mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                    <img src={% static project.projectImage %} class="card-img-top img-fluid" alt={{ project.altImage }}
                        height="250px" style="background-repeat: no-repeat">
                    <div class="card-body">
                        <h4> {{ project.projectName }}
                            <a href={{ project.link }}>
                                <img src={% static "img/github.png" %} alt="link to code" height="35px" width="35px">
                            </a>
                        </h4>
                        <p> {{ project.description }} </p>
                        <span class="project-tech">
                            {% for tech in project.technologiesUsed %}
                            <div class="project-tech-item">
                            {{ tech }}
                            &{{ project.separator }};
                            </div>
                            {% endfor %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- if divisible by 3, outputted 3 already, so close row and start fresh -->
        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row">{% endif %}
        <!-- if last, need to close row tag -->
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
</div>
{% endblock content %}