{% extends "site_content/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/projects.css" %}">
{% endblock css %}

{% block content %}
<div>
    <ul style="display: table; list-style-type: none">
        {% for project in projects %}
        <li>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front" style="background: url({% static "img/yelp.png" %}); width: 100%; height: 340px; background-size: contain">
                        {{ project.projectName }}
                    </div>
                    <div class="back">
                        {{ project.description }}
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- <div>
    Here is a visualization of my coding abilities.
    <div id="vizContainer" style="width:800px; height:700px;">
    </div>
    <script src="{% static "js/tableau.js" %}"></script>
</div> -->
{% endblock content %}