footer {
    margin-top: 20px;
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 40px;
}

.footer-wrap {
    min-height: 10%;
}

ul {
    table-layout: fixed;
}

li.social-media-icon {
    display: inline;
    margin-left: 20px;
}

a {
    color:transparent;
}

li.social-media-icon a.fa {
    padding: 22px;
    font-size: 40px;
    text-align: center;
    text-decoration: none !important;
    margin: 10px 0px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

li.social-media-icon a.fa:hover {
    opacity: 0.7;
    color: red;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    transition: transform 0.3s ease-out;
    -webkit-transition: -webkit-transform 0.3s ease-out;
        -moz-transition: -moz-transform 0.3s ease-out;
}

a.fa-linkedin {
    background: black;
    color: white;
}

a.fa-facebook {
    background: black;
    color: white;
}

a.fa-twitter {
    background: black;
    color: white;
}

a.fa-instagram {
    background: black;
    color: white;
}

a.fa-github {
    background: black;
    color: white;
}

@media (max-width: 600px) {
    ul {
        table-layout: fixed;
    }
    li.social-media-icon {
        margin-left: 10px;
    }
    li.social-media-icon a.fa {
        padding: 10px;
        font-size: 20px;
        text-align: center;
        text-decoration: none !important;
        margin: 5px 0px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
}