nav {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

@media screen and (max-width: 600px) {
    ul li.right,
    ul li {float: none;}
}

.active {
    background-color: #4CAF50;
}
